* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    --cor-primaria: rgb(68, 68, 68);
    --cor-secundaria: #beecee;
}

/* Animação */

[data-anime] {
    opacity: 0;
    transition: 0.5s;
}

[data-anime="down"] {
    transform: translate3d(0, -100px, 0);
}

[data-anime="up"] {
    transform: translate3d(0, 100px, 0);
}

[data-anime="left"] {
    transform: translate3d(-100%, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.home {
    background-image: url(./img/background-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 70vh;
}

.sobre {
    width: 100%;
}

#profile-picture {
    background-color: var(--cor-primaria);
    border-radius: 2%;
}

.formacao {
    width: 100%;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.formacao .cv-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--cor-primaria);
    position: relative;
}

.formacao .cv-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--cor-primaria);
    background: #fff;
}

.Conteudos {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: row;
}

.card {
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-7px);
}

@media (max-width: 414px) {

    .img-fluid {
        width: 20rem;
    }

    #description {
        margin-top: 2rem;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
    }
}