@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    --cor-primaria: rgba(20, 20, 20, 0.815);
    --cor-secundaria: #d1eef9;
    --background: #e2439a;
    font-family: 'Rubik', sans-serif;
}

/* Animação */

[data-anime] {
    opacity: 0;
    transition: 0.5s;
}

[data-anime="down"] {
    transform: translate3d(0, -100px, 0);
}

[data-anime="up"] {
    transform: translate3d(0, 100px, 0);
}

[data-anime="left"] {
    transform: translate3d(-100%, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

nav {
    background-color: var(--background);
}

.sobre {
    width: 100%;
    background-image: -webkit-linear-gradient(110deg, var(--background), var(--cor-secundaria));
    display: flex;
    justify-content: center;
}

svg {
    z-index: -1;
    margin-bottom: 3rem;
}

#profile-picture {
    background-image: -webkit-linear-gradient(245deg, var(--background), var(--cor-secundaria));
    border-radius: 2%;
    margin-bottom: 1rem;
    transform: translate3d(-50%, 0, -50%);
}

.formacao {
    width: 100%;
    background-image: -webkit-linear-gradient(245deg, var(--background), var(--cor-secundaria));
    color: var(--cor-primaria);
}

.formacao .cv-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--cor-secundaria);
    position: relative;
}

.formacao .cv-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid rgb(192, 38, 184);
    background: #fff;
}

.Conteudos {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: -webkit-linear-gradient(130deg, var(--background), var(--cor-secundaria));
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
}

.btn-gradient {
    background-image: -webkit-linear-gradient(245deg, var(--background), var(--cor-secundaria));
    border: none;
}

.btn-gradient:hover {
    box-shadow: 0 0 0.8rem var(--background);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 0.8rem var(--background);
}

@media (max-width: 500px) {
    .sobre {
        background-image: -webkit-linear-gradient(-90deg, var(--background), var(--cor-secundaria));
    }

    .img-fluid {
        width: 13rem;
        margin-left: 4rem;
    }

    #profile-picture {
        transform: translate3d(-50%, 0, -70%);
    }

    #description {
        margin-top: 2rem;
    }

    .formacao {
        width: 100%;
        background-image: -webkit-linear-gradient(100deg, var(--background), var(--cor-secundaria));
        color: var(--cor-primaria);
    }

    .cv-title {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .Conteudos {
        background-image: -webkit-linear-gradient(245deg, var(--background), var(--cor-secundaria));
    }

    .Conteudos h2,
    h3 {
        color: #fff;
        text-shadow: 1px 1px 1px var(--background);
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
    }

    svg {
        transform: rotate(-180);
    }
}